*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(72, 72, 72);
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 255, 255);
}


/* Header part */
header
{
    padding: 20px 35px;
}

header h1
{
    font-weight: bold;
    font-size: 36px;
    color:aqua;
    margin: 0;
    display: inline;
}

header a 
{
    text-decoration: none;
    color: rgb(0, 255, 255);
}

header nav
{
    float: right;
    margin: 7px 0;
}

header nav ul li
{
    display: inline;
}

/* Footer */
footer
{
    width: 100%;
    padding: 40px 35px;
}

footer h2
{
    display: inline;
    color:rgb(0, 255, 255);
    font-size: 30px;
    margin: 0;
}

footer div
{
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a
{
    color:rgb(0, 255, 255);
}

/* Sections */
section
{
    padding: 80px;
}

/* hero */
.hero
{
    background-image: url(../assets/images/robson-hatsukami-morgan-bkdzvgBB7rQ-unsplash.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero h1
{
    text-align: center;
    padding: 20px;
    width: 400px;
    border: solid 3px rgb(0, 255, 255);
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* section titles */
.info
{
    display: inline-flex;
}
.section-title
{
    font-size: 35px;
    float:left;
    border-right: 3px solid;
    padding: 50px 25px 50px 50px;
}

.myself-info
{
    font-size: 20px;
    padding-top: 50px;
    margin: 0 250px;
    float:left;
}