*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(72, 72, 72);
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 255, 255);
}


/* Header part */
header
{
    padding: 20px 35px;
}

header h1
{
    font-weight: bold;
    font-size: 36px;
    color:aqua;
    margin: 0;
    display: inline;
}

header a 
{
    text-decoration: none;
    color: rgb(0, 255, 255);
}

header nav
{
    float: right;
    margin: 7px 0;
}

header nav ul li
{
    display: inline;
}

header nav ul li a
{
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* Footer */
footer
{

    width: 100%;
    padding: 50px 35px;
}

footer h2
{
    display: inline;
    color:rgb(0, 255, 255);
    font-size: 30px;
    margin: 0;
}

footer div
{
    
    font-weight: lighter;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
}

footer a
{
    margin: 0 40px;
    color:rgb(0, 255, 255);
}

/* Sections */
section
{
    padding: 80px;
}

/* hero */
.hero
{
    background-image: url(../assets/images/robson-hatsukami-morgan-bkdzvgBB7rQ-unsplash.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero h1
{
    text-align: center;
    padding: 20px;
    width: 400px;
    border: solid 3px rgb(0, 255, 255);
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* section titles */

/* About Me Section */
.info
{
    display: inline-flex;
}
.section-title
{
    font-size: 35px;
    float:left;
    border-right: 3px solid;
    padding: 50px 25px 50px 50px;
}

.myself-info
{
    font-size: 20px;
    padding-top: 50px;
    margin: 0 250px;
    float:left;
}

/* Projects section */

/* has the background image */
.project-one
{
    background-image: url(../assets/images/sumudu-mohottige-gneHEtwJl4o-unsplash.jpg);
    width: 600px;
    height: 300px;
    background-size: cover;
    position: relative;
    background-position: center;
    margin-left: 340px;
    border: 3px solid rgb(0, 255, 255);
    display: inline-flex;
    
}

/* the title of the project */
.project-title
{
    border: 3px solid rgb(0, 255, 255);
    padding: 10px 10px;
    color: black;
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 30px;
}

/* the link you use to check out the code
link should be able to take you to the github project if it were real */
.project-one a 
{
    
    padding: 0 120px 0 0;
    font-size: 100px;
    text-align: center;
    opacity: 0;
}

/* small banner projects */

/* passgen img */
.passgen-img
{
    background-image: url(../assets/images/nihon-graphy-nCvi-gS5r88-unsplash.jpg);
    margin-left: 250px;
}

/*portfolio website img */
.portfolio-img
{
    background-image: url(../assets/images/denis-degioanni-9wH624ALFQA-unsplash.jpg);
    margin-left: auto;
}

/* Snake game Img */
.snake-img
{
    background-image: url(../assets/images/fidias-cervantes-QwS2TbW0900-unsplash.jpg);
    margin-left: 250px;
}

/* AI image */
.robot-img
{
    background-image: url(../assets/images/james-a-molnar-AHq2twkynao-unsplash.jpg);
    margin-left: auto;
}

/* This code changes the background img to fit inside the 
box, it also gives a title inside the box to show users what 
the project is about, images are added to show what the project 
is about  */
.small-banner-pro
{
    margin-top: 10px;
    width: 600px;
    height: 200px;
    background-size:100%;
    position: relative;
    background-position: center;
    border: 3px solid rgb(0, 255, 255);
    display: inline-flex;
    
}
/* This changes the link so that when users click anywhere inside the box
they are then transported inside the link */
.small-banner-pro a
{
    padding: 0 100px 0 150px;
    font-size: 70px;
    text-align: center;
    opacity: 0;
}